<meta charset="utf-8">
<style>
    * {margin: 0;padding: 0;}
    canvas { border: 1px solid #ccc; margin: auto; display: block; border-radius: 100%; }
    input { width: 700px; display: block; margin: 30px auto; padding: 5px; text-align: center}

</style>
<script src="../node_modules/seedrandom/seedrandom.min.js"></script>
<script src="seedrandom.min.js"></script>
<script src="../src/face-identicon.js"></script>

<canvas id="can" width="700" height="700"></canvas>
<input id="seed">
<script>
	let ryzoms = [];
    document.getElementById("seed").addEventListener("keyup",doIt);
    doIt();
    function doIt() {
	    Math.seedrandom(document.getElementById("seed").value);
	    const maxFPS = 60;
	    const minFPS = 0; // doit être à 0 pour un résultat reproductible. mettre à 30 pour une progression fluide.
	    let time = Date.now();
	    let maxActiveRyzom = 500;
	    const canvas = document.getElementById('can');
	    const context = canvas.getContext("2d");
	    const initialColor = {'hue':Math.random()*360,'saturation':Math.random()*30+70,'luminance':Math.random()*40+30};
	    const maxDirectionalDeviation = 5;
	    const overlapsTolerance = 0.6;
	    const forkRatio = 0.05;
	    const maxHueDeviation = 0.3;
	    const maxVitalityLoss = 0.02;
	    const maxVitalityGain = 0.01;
	    const evolveSpeed = 0.7;
	    const ryzomBaseWidth = 5;
	    ryzoms = [];
	    context.clearRect(0, 0, canvas.width, canvas.height);
	    initMycelium(context.canvas.width/2, context.canvas.height/2,initialColor,1);
	    function initMycelium(x,y,color,vitality){
		    /*oeil gauche*/ newRyzom({"x":x-50,"y":y,"direction":180,"vitality":vitality*0.4,"color":clone(color),'generation':1});
		    /*oeil droit*/ newRyzom({"x":x+50,"y":y,"direction":0,"vitality":vitality*0.4,"color":clone(color),'generation':1});
		    /*nez*/ newRyzom({"x":x,"y":y-20,"direction":90,"vitality":vitality*0.5,"color":clone(color),'generation':1});
		    /*bouche*/ newRyzom({"x":x-80,"y":y+202,"direction":10,"vitality":vitality*0.3,"color":clone(color),'generation':1});
		    /*bouche*/ newRyzom({"x":x-80,"y":y+200,"direction":-10,"vitality":vitality*0.3,"color":clone(color),'generation':1});
		    /*bouche*/ newRyzom({"x":x+80,"y":y+202,"direction":190,"vitality":vitality*0.3,"color":clone(color),'generation':1});
		    /*bouche*/ newRyzom({"x":x+80,"y":y+200,"direction":170,"vitality":vitality*0.3,"color":clone(color),'generation':1});
	    }
	    function newRyzom(state){
		    ryzoms.push(state);
	    }
	    function evolve(){
		    const newTime = Date.now();
		    const perfRatio = (newTime-time)*minFPS/1000;
		    time = newTime;
		    if(perfRatio>1) maxActiveRyzom = Math.min(ryzoms.length,maxActiveRyzom)/perfRatio;
		    console.log(perfRatio,maxActiveRyzom);
		    if(ryzoms.length>maxActiveRyzom){
			    ryzoms.sort( (a,b)=>b.vitality-a.vitality );
			    ryzoms.splice(maxActiveRyzom,ryzoms.length-maxActiveRyzom);
		    }
		    for(let i = ryzoms.length-1; i>=0;i--){
			    const ryzom = ryzoms[i];
			    if(ryzom.vitality<maxVitalityGain/100){
				    ryzoms.splice(i,1);
				    continue;
			    }
			    ryzom.vitality += Math.random()*(maxVitalityGain+maxVitalityLoss) - maxVitalityLoss;
			    ryzom.oldX = ryzom.x;
			    ryzom.oldY = ryzom.y;
			    const dirDeviation = randomDeviation(maxDirectionalDeviation);
			    if(Math.abs(dirDeviation)>maxDirectionalDeviation * (1-forkRatio)) {
				    const forkRyzom = clone(ryzom);
				    forkRyzom.direction -= dirDeviation;
				    ryzoms.unshift(forkRyzom);
				    i++;
			    }
			    ryzom.direction += dirDeviation;
			    const radDirection = ryzom.direction * 2*Math.PI/360;
			    ryzom.x += (0.2*ryzom.generation+2-ryzom.vitality)*evolveSpeed * Math.cos(radDirection);
			    ryzom.y += (0.2*ryzom.generation+2-ryzom.vitality)*evolveSpeed * Math.sin(radDirection);
			    if(ryzom.x<0 || ryzom.y <0 || ryzom.x>context.canvas.width || ryzom.y>context.canvas.height || samePixel(ryzom) || ryzom.vitality<0){
				    ryzoms.splice(i,1);
				    continue;
			    }
			    ryzom.width = ryzom.vitality*ryzomBaseWidth;
			    ryzom.color.hue += randomDeviation(maxHueDeviation);
			    ryzom.color.saturation = 40*(1-ryzom.vitality)+30;
			    ryzom.color.luminance = 30*(1-ryzom.vitality)+20;
			    ryzom.drawColor = 'hsl('+ryzom.color.hue+','+ryzom.color.saturation+'%,'+ryzom.color.luminance+'%)'; // hsla also work
		    }
	    }
	    function render(){
		    evolve();
		    //context.clearRect(0, 0, context.canvas.width, context.canvas.height); // Clears the canvas

		    for(let ryzom of ryzoms){
			    context.strokeStyle = ryzom.drawColor;
			    context.lineJoin = "round";
			    context.lineWidth = ryzom.width;
			    context.beginPath();
			    context.moveTo(ryzom.oldX, ryzom.oldY);
			    context.lineTo(ryzom.x, ryzom.y);
			    context.closePath();
			    context.stroke();
		    }
		    console.log('active ryzom count : ',ryzoms.length);
		    if(ryzoms.length>0) setTimeout(render,1000/maxFPS);
	    }
	    render();
	    function randomDeviation(maxDeviation) {
		    return Math.random()*maxDeviation*2 - maxDeviation;
	    }
	    function clone(obj){
		    //return JSON.parse(JSON.stringify(obj))
		    return Object.assign({}, obj);
	    }
	    function samePixel(ryzom){
		    if(ryzom.oldX === context.canvas.width/2 && ryzom.oldY === context.canvas.height/2) return false;
		    const index = ryzoms.findIndex( (r)=> Math.round(r.x) === Math.round(ryzom.x) && Math.round(r.y) === Math.round(ryzom.y) && r !== ryzom && r.vitality>=ryzom.vitality);
		    return -1 !== index && Math.random() > overlapsTolerance;

	    }
    }
</script>
<a href="https://framagit.org/1000i100/face-identicon" id="sourceRibbon" title="Fork me !">
    <span>CC-0</span>
    <span>Logiciel Libre</span>
    <span>Remonter aux sources</span>
    <style>
        #sourceRibbon {position: fixed; top: 15px; right: -110px; z-index: 500; transform: rotate(45deg); text-align: center;width: 300px; box-shadow: 0 0 5px #000; text-decoration: none;}
        #sourceRibbon span {background-color: #0A0; color: white; font-family: sans-serif; display: block; padding: 1px 30px; font-size: 9pt; margin: -1px; text-shadow: 0 0 3px rgba(0,0,0,.5);}
        #sourceRibbon span + span {background-color:  #06A; font-size: 11pt;}
        #sourceRibbon span + span + span {background-color: #E80; font-size: 10pt;}
    </style>
</a>
