<meta charset="utf-8">
<style>
	* {
		margin: 0;
		padding: 0;
	}

	canvas {
		border: 1px solid #ccc;
		margin: auto;
		display: block; /*border-radius: 100%;*/
	}

	input {
		width: 700px;
		display: block;
		margin: 30px auto;
		padding: 5px;
		text-align: center
	}

</style>
<script src="seedrandom.min.js"></script>
<script src="vec2d.min.js"></script>
<!--<script src="../src/face-identicon.js"></script>-->

<canvas id="can" width="700" height="700"></canvas>
<input id="seed" value="8">
<script type="module">
	import Dcr from "./diffusion-curves-renderer.js";
	import VoronoiBuilder from "./VoronoiBuilder.js";
  import {createBezierBuilder} from"./adaptive-bezier-curve.js";
	// import Vec2D = ../node_modules/vector2d/dist/vec2d.min.js
	document.getElementById("seed").addEventListener("keyup", doIt);
	setTimeout(doIt,100);

	async function doIt() {
		Math.seedrandom(document.getElementById("seed").value + '\0');

		const dcr = new Dcr({
			context: document.getElementById('can').getContext("webgl2"),
			pass: parseInt(document.getElementById("seed").value) || 0,//Math.floor(Math.random()*9)
			lights: [
				// {
				// 	type:"ambiant|dir(ectional)|dot|spot",
				// 	x:-100,y:300,z:500, // vector for direction, origin position
				// 	r:1.0,g:1,b:1, // color (and intensity) (or HCL for easy float Luminance adjustement)
				// 	size:"5(px)",range:"700(px)",
				// 	linear:true,quadratic:false,constant:false,
				// 	radius: 45, radiusBlur: 0.2 // spot radius
				// },
				{
					type: "dot",
					x: -300, y: 300, z: 500,
					r: 1, g: 1, b: 1,
					size: 20, range: 2000,
					linear: true,
				},
			]
		});
		console.log(dcr.nbPass);

		const diagonal = dcr.diagonal;
		const bezier = createBezierBuilder();
		const start = [200, 500],
			c1 = [300, 600],
			c2 = [400, 600],
			end = [500, 500],
			scale = 1;
		// RGBAWFNSU (Red, Green, Blue, Alpha, Weight/power, Fuzz/blur, Normal, Shine/brilliance, Unevenness/roughness)
		// RGBAPFN
		const upperLipColor = 	[1   , 0   ,  0  , 1  , 1  ,  0, 40, 0.5, 0.2];//[0.8+Math.random()*0.2,Math.random()*0.5,Math.random(),1];
		const underLipColor = 	[1   , 1   ,  0  , 1  , 1  ,  0, 40, 0.5, 0.2];//[0.8+Math.random()*0.2,Math.random()*0.5,Math.random(),1];
		const upperEyesCenter = [0.25, 0.75,  0  , 1  , 2  ,  0, 45, 0.2, 0.5];//[Math.random(),Math.random(),Math.random(),1];
		const upperEyesEdge = 	[0.5 , 1   ,  1  , 1  , 1  ,  0,-20, 0.2, 0.5];//[Math.random(),Math.random(),Math.random(),1];
		const innerEyesLeft = 	[0.2 , 0.2 ,  0.2, 0.5, 1  ,  0, 30, 0.9, 0  ];//[1];//[0.9+Math.random()*0.1,0.9+Math.random()*0.1,0.9+Math.random()*0.1,1];
		const innerEyesRight = 	[1   , 1   ,  1  , 0.5, 1  ,  0, 30, 0.9, 0  ];//[1];//[0.9+Math.random()*0.1,0.9+Math.random()*0.1,0.9+Math.random()*0.1,1];
		const underEyesCenter = [0   , 0   ,  1  , 1  , 0.5,  0, 45, 0.2, 0.5];//[Math.random(),Math.random(),Math.random(),1];
		const underEyesEdge = 	[0   , 0   ,  1  , 1  , 0.5,  0,-20, 0.2, 0.5];//[Math.random(),Math.random(),Math.random(),1];
		const innerNose =       [1   , 0.75,  0.2, 1  , 1  , 20, 90, 0.2, 0.3];//[Math.random(),Math.random(),Math.random(),1];
		const outerNose =       [0.9 , 0.5 ,  0.1, 1  , 1  , 20,  0, 0.2, 0.7];//[Math.random(),Math.random(),Math.random(),1];
		const curves = [];
		curves.push( // TODO: add Diameter (épaisseur) as curve start/end parameter with a 3rd internal color
			bezier(start, c1, c2, end, scale).map(partialFuncColorizer(colorMerge, upperLipColor, underLipColor)),


			bezier([100, 200], [150, 150], [200, 150], [250, 200], scale).map(partialFuncColorizer(colorMerge, upperEyesEdge, upperEyesCenter, innerEyesLeft, innerEyesLeft)),
			bezier([250, 200], [200, 250], [150, 250], [100, 200], scale).map(partialFuncColorizer(colorMerge, underEyesCenter, underEyesEdge, innerEyesLeft, innerEyesLeft)),
			bezier([450, 200], [500, 150], [550, 150], [600, 200], scale).map(partialFuncColorizer(colorMerge, upperEyesCenter, upperEyesEdge, innerEyesRight, innerEyesRight)),
			bezier([600, 200], [550, 250], [500, 250], [450, 200], scale).map(partialFuncColorizer(colorMerge, underEyesEdge, underEyesCenter, innerEyesRight, innerEyesRight)),
			bezier([330, 250], [320, 470], [220, 420], [350, 450], scale).map(partialFuncColorizer(colorMerge, innerNose, outerNose)),
			bezier([700 - 330, 250], [700 - 320, 470], [700 - 220, 420], [700 - 350, 450], scale).map(partialFuncColorizer(colorMerge, outerNose, innerNose)),
		);

		function partialFuncColorizer(colorMergeFunc, ...colors) {
			const cAll = multiColors(...colors);
			return (p, i, all) => {
				const ratio = i / (all.length - 1);
				return {
					p: new Vec2D.ArrayVector(...p),
					leftColor: colorMergeFunc(cAll.ls, cAll.le, ratio),
					rightColor: colorMergeFunc(cAll.rs, cAll.re, ratio)
				}
			}
		}

		function multiColors(...colors) {
			// ls:leftStartColor, le:leftEndColor, rs:rightStartColor, re:rightStartColor
			if (colors.length === 1) return {ls: colors[0], le: colors[0], rs: colors[0], re: colors[0]};
			if (colors.length === 2) return {ls: colors[0], le: colors[0], rs: colors[1], re: colors[1]};
			if (colors.length === 4) return {ls: colors[0], le: colors[1], rs: colors[2], re: colors[3]};
		}

		function addColors(points, ...colors) {
			const p = new Vec2D.ArrayVector(...points);
			// ls:leftStartColor, le:leftEndColor, rs:rightStartColor, re:rightStartColor
			if (colors.length === 1) return {p, ls: colors[0], le: colors[0], rs: colors[0], re: colors[0]};
			if (colors.length === 2) return {p, ls: colors[0], le: colors[0], rs: colors[1], re: colors[1]};
			if (colors.length === 4) return {p, ls: colors[0], le: colors[1], rs: colors[2], re: colors[3]};
		}

		const posColPoints = curves;

		function concat2VI(geometry1, geometry2) {
			const v1 = geometry1.vertices;
			const i1 = geometry1.indices;
			const v2 = geometry2.vertices;
			const i2 = geometry2.indices;
			const maxI1 = Math.max(...i1);
			return {
				vertices: [].concat(v1, v2),
				indices: [].concat(i1, i2.map(i => i + maxI1 + 1)) //,[i1[i1.length-1],i2[0]]
			}
		}

		function concatVI(geometries) {
			return geometries.reduce((acc, cur) => concat2VI(acc, cur));
		}

		const vorGeo = concatVI(posColPoints.map(pcp => voronoiGeometry(pcp, diagonal, colorMerge)));
		dcr.render(vorGeo);
	}

	function normalTo(vec) {
		return new Vec2D.ArrayVector(-vec.getY(), vec.getX());
	}

	function colorMerge(c1, c2, ratio) {
		const c = [];
		const maxDim = Math.max(c1.length, c2.length);
		for (let i = 0; i < maxDim; i++) {
			c[i] =
				(1 - ratio) * (typeof c1[i] !== "undefined" ? c1[i] : 1)
				+
				ratio * (typeof c2[i] !== "undefined" ? c2[i] : 1)
			;
		}
		return c;
	}

	function verticize(point, deepness, color, dir) {
		if (color.length < 2) color[1] = color[0];
		if (color.length < 3) color[2] = color[1];
		if (color.length < 4) color[3] = 1; //alpha
		if (!color[4]) color[4] = 1; //intensity
		if (!color[5]) color[5] = 0; //intensity
		if (!color[6]) color[6] = 0; //intensity
		const vertice = [];
		const n = dir.clone().mulS((color[6] < 0)? 1: -1).normalise().mulS(Math.sin(color[6]/180*Math.PI));
		vertice.push(...point.toArray(), deepness, 1,
			color[0], color[1], color[2], color[3],
			color[4], color[5], n.x, -n.y, // Weight, blur, normal.xy
			dir.x, dir.y, 1, 1);
		return vertice;
	}

	function voronoiGeometry(posColPoints, diagonal, colorMergeFunc) {
		// const builder = new VoronoiBuilder(diagonal);
		// builder.addCurve(posColPoints);
		// return { vertices: builder.vertices, indices: builder.indices };
		const p0 = posColPoints[0].p,
			p1 = posColPoints[1].p,
			p0c = posColPoints[0];
		const pf = posColPoints[posColPoints.length - 1].p,
			pb = posColPoints[posColPoints.length - 2].p,
			pfc = posColPoints[posColPoints.length - 1];
		let closed = false;
		//if(p0.equals(pf)) closed = true;
		const v0 = p1.clone().subtract(p0).normalise();
		const vf = pb.clone().subtract(pf).normalise();
		const verticesLeft = [];
		const indicesRaw = [];
		const verticesRight = [];
		const deepness = diagonal * 10;
		if (closed) {
			indicesRaw.push(0);
		} else {
			verticesLeft.push(...verticize(p0.clone().subtract(v0.clone().mulS(deepness)), deepness, p0c.leftColor, v0));
			verticesRight.push(...verticize(p0.clone().subtract(v0.clone().mulS(deepness)), deepness, p0c.rightColor, v0));
			indicesRaw.push(1, 1, 0, 2);
		}

		let pPrev = closed ? posColPoints[posColPoints.length - 1] : posColPoints[0];
		let pCurr = posColPoints[0];

		for (let i = 0; i < posColPoints.length; ++i) {
			const pNext = posColPoints[Math.min(i + 1, posColPoints.length - 1)];
			const pp = pPrev.p, pc = pCurr.p, pn = pNext.p;

			if (pp.equals(pc) && pc.equals(pn)) continue;
			let v;
			if (pp.equals(pc) || pc.equals(pn)) {
				v = pn.clone().subtract(pp).normalise();
			} else {
				const v1 = pc.clone().subtract(pp).normalise();
				const v2 = pn.clone().subtract(pc).normalise();
				v = v1.clone().add(v2).normalise();
			}
			const n = normalTo(v);
			const invN = n.clone().mulS(-1);
			indicesRaw.push(1 + i * 2, 2 + i * 2);
			verticesLeft.push(
				...verticize(pc, 0, pCurr.leftColor, invN),
				...verticize(pc.clone().subtract(n.clone().mulS(deepness)), deepness, pCurr.leftColor, invN),
			);
			verticesRight.push(
				...verticize(pc.clone().add(n.clone().mulS(deepness)), deepness, pCurr.rightColor, n),
				...verticize(pc, 0, pCurr.rightColor, n),
			);
			pPrev = pCurr;
			pCurr = pNext;
		}
		const li = posColPoints.length * 2;
		if (closed) indicesRaw.push(0, 1, 1);
		else {
			indicesRaw.push(li + 1, li, li - 1, li - 1);

			verticesLeft.push(...verticize(pf.clone().subtract(vf.clone().mulS(deepness)), deepness, pfc.leftColor, vf));
			verticesRight.push(...verticize(pf.clone().subtract(vf.clone().mulS(deepness)), deepness, pfc.rightColor, vf));
		}//indicesRaw.push(li+1,li,li-1,li-1);

		const vertices = [].concat(verticesLeft, verticesRight);
		const maxI = Math.max(...indicesRaw);
		let indices;
		if (closed) indices = [].concat(indicesRaw, indicesRaw.map(i => i + maxI - 1));
		else indices = [].concat(indicesRaw, indicesRaw.map(i => i + maxI + 1));
		//const indices = [].concat(indicesRaw,indicesRaw.map(i=>i+maxI+1));
		//const indices = [].concat(indicesRaw,indicesRaw.map(i=>i+verticesLeft.length/8));
		return {vertices, indices};
	}
</script>
<a href="https://framagit.org/1000i100/face-identicon" id="sourceRibbon" title="Fork me !">
	<span>CC-0</span>
	<span>Logiciel Libre</span>
	<span>Remonter aux sources</span>
	<style>
		#sourceRibbon {
			position: fixed;
			top: 15px;
			right: -110px;
			z-index: 500;
			transform: rotate(45deg);
			text-align: center;
			width: 300px;
			box-shadow: 0 0 5px #000;
			text-decoration: none;
		}

		#sourceRibbon span {
			background-color: #0A0;
			color: white;
			font-family: sans-serif;
			display: block;
			padding: 1px 30px;
			font-size: 9pt;
			margin: -1px;
			text-shadow: 0 0 3px rgba(0, 0, 0, .5);
		}

		#sourceRibbon span + span {
			background-color: #06A;
			font-size: 11pt;
		}

		#sourceRibbon span + span + span {
			background-color: #E80;
			font-size: 10pt;
		}
	</style>
</a>
