<meta charset="utf-8">
<style>
    * {margin: 0;padding: 0;}
    canvas { margin: 5px auto; display: block; max-height: 99vh;max-width: 99vw; border: 1px solid #ccc; border-radius: 100%; }
		#config {position: fixed; bottom:2px;left: 2px;}
		#config>fieldset { overflow-y: auto; max-height: calc(100vh - 30px); background-color: #EEE;}
		#config #switch {cursor: pointer;}
		#config.small fieldset{ display: none;}
		#config.small .hide{ display: none;}
		#config.big .show{ display: none;}
		.line { padding: 2px;}
		.line label {display: inline-block;}
		.line input {display: inline-block; width: 50px;}
		fieldset {padding: 3px;}
    /*input { width: 700px; display: block; margin: 30px auto; padding: 5px; text-align: center}*/

</style>
<script src="../node_modules/seedrandom/seedrandom.min.js"></script>
<script src="seedrandom.min.js"></script>

<canvas id="can" width="2000" height="2000"></canvas>
<form id="config" class="small"></form>
<script>
	function defaultConfig(){
		return {
			seed:"Ju",
			width: 1200,
			height: 2000,
			floorLevel:1500,
			Tree:{
				vitality: 1.8,
				maxVitalityLoss:0.018,
				maxVitalityGain:0.01,
				killUnderThreshold: 70,
				killUnderRate: 0.9,
				forkRatio: 0.05,
				maxDirectionalDeviation:10,
				ryzomBaseWidth: 5,
				color:{
					hue:100,
					saturation:85,
					luminance:50,
				},
				maxHueDeviation: 0.3,
			},
			Roots:{
				vitality: 0.8,
				maxVitalityLoss:0.025,
				maxVitalityGain:0.015,
				killHoverThreshold: 130,
				killHoverRate: 0.9,
				forkRatio: 0.06,
				maxDirectionalDeviation:18,
				ryzomBaseWidth: 12,
				color:{
					hue:0,
					saturation:30,
					luminance:0,
				},
				maxHueDeviation: 0.3,
			},
			floorColor:{
				hue:30,
				saturation:10,
				luminance:10,
			},
			limits:{
				minFPS: 0, // doit être à 0 pour un résultat reproductible. mettre à 30 pour une progression fluide.
				maxFPS: 60,
				maxActiveRyzom: 1000,
				overlapsTolerance: 0.6,
			}
		}
	}
	function evolveRyzoms(ryzoms){
		for(let i = ryzoms.length-1; i>=0;i--){
			const ryzom = ryzoms[i];

			ryzom.oldX = ryzom.x;
			ryzom.oldY = ryzom.y;

			normalizeRyzomDirection(ryzom);
			ryzom.updateVitality(ryzom);

			const dirDeviation = randomDeviation(ryzom.maxDirectionalDeviation);
			if(Math.abs(dirDeviation)>ryzom.maxDirectionalDeviation * (1-ryzom.forkRatio)) {
				const forkRyzom = clone(ryzom);
				forkRyzom.direction -= dirDeviation;
				ryzoms.unshift(forkRyzom);
				i++;
			}
			ryzom.direction += dirDeviation;
			const radDirection = radialDirection(ryzom.direction);
			ryzom.x += (2-ryzom.vitality) * Math.cos(radDirection);
			ryzom.y += (2-ryzom.vitality) * Math.sin(radDirection);

			ryzom.width = ryzom.vitality*ryzom.ryzomBaseWidth;

			ryzom.updateColor(ryzom);
		}
	}
	function render(ryzoms, context){
		//context.clearRect(0, 0, context.canvas.width, context.canvas.height); // Clears the canvas
		for(let ryzom of ryzoms){
			context.strokeStyle = ryzom.drawColor;
			context.lineJoin = "round";
			context.lineWidth = ryzom.width;
			context.beginPath();
			context.moveTo(ryzom.oldX, ryzom.oldY);
			context.lineTo(ryzom.x, ryzom.y);
			context.closePath();
			context.stroke();
		}
	}
	function samePixel(ryzom, ryzoms, limits){
		const index = ryzoms.findIndex( (r)=> Math.round(r.x) === Math.round(ryzom.x) && Math.round(r.y) === Math.round(ryzom.y) && r !== ryzom && r.vitality>=ryzom.vitality);
		return -1 !== index && Math.random() > limits.overlapsTolerance;
	}
	function normalizeRyzomDirection(ryzom){
		ryzom.direction = ((180+360+ryzom.direction) % 360) - 180;
	}
	function radialDirection(direction){
		return (direction+90) * 2*Math.PI/360;
	}
	function randomDeviation(maxDeviation) {
		return Math.random()*maxDeviation*2 - maxDeviation;
	}
	function clone(obj){
		//return JSON.parse(JSON.stringify(obj))
		return Object.assign({}, obj);
	}
	function randomUpColor(){
		return {'hue':Math.random()*200,'saturation':Math.random()*30+70,'luminance':Math.random()*45+30};
	}
	function randomDownColor(){
		return {'hue':180+Math.random()*200,'saturation':Math.random()*30+70,'luminance':Math.random()*35+20};
	}
	function killUnder(ryzom){
		defaultUpdateVitality(ryzom);
		if(Math.abs(ryzom.direction)<ryzom.killUnderThreshold) ryzom.vitality*=ryzom.killUnderRate;
	}
	function killHover(ryzom){
		defaultUpdateVitality(ryzom);
		if(Math.abs(ryzom.direction)>ryzom.killHoverThreshold) ryzom.vitality*=ryzom.killHoverRate;
	}
	function defaultUpdateVitality(ryzom){
		ryzom.vitality += Math.random()*(ryzom.maxVitalityGain+ryzom.maxVitalityLoss) - ryzom.maxVitalityLoss;
	}
	function defaultUpdateColor(ryzom){
		ryzom.color.hue += randomDeviation(ryzom.maxHueDeviation);
		ryzom.color.saturation = 40*(1-ryzom.vitality)+30;
		ryzom.color.luminance = 30*(1-ryzom.vitality)+20;
		ryzom.drawColor = drawColor(ryzom.color); // hsla also work
	}
	function drawColor(hsl){
		return `hsl(${hsl.hue},${hsl.saturation}%,${hsl.luminance}%)`;
	}
	function sustainMinFPS(ryzoms,limits){
		const newTime = Date.now();
		const perfRatio = (newTime-limits.lastFrameTime)*limits.minFPS/1000;
		limits.lastFrameTime = newTime;
		if(perfRatio>1) limits.maxActiveRyzom = Math.min(ryzoms.length,limits.maxActiveRyzom)/perfRatio;
	}
	function removeRyzomsOverflow(ryzoms,limits){
		if(ryzoms.length>limits.maxActiveRyzom){
			ryzoms.sort( (a,b)=>b.vitality-a.vitality );
			ryzoms.splice(limits.maxActiveRyzom,ryzoms.length-limits.maxActiveRyzom);
		}
	}
	function removeOutboundsRyzoms(ryzoms,limits) {
		for (let i = ryzoms.length - 1; i >= 0; i--) {
			const ryzom = ryzoms[i];
			if(
				ryzom.x<0 || ryzom.y <0 || ryzom.x>limits.drawArea.width || ryzom.y>limits.drawArea.height
				|| ryzom.vitality<0
				|| samePixel(ryzom, ryzoms,limits)
			){
				ryzoms.splice(i,1);
				continue;
			}
		}
	}
	function newRyzom(state){
		const defaultState = {
			x:0,
			y:0,
			direction:0,
			vitality:1,
			updateVitality: defaultUpdateVitality,
			maxVitalityLoss: 0.02,
			maxVitalityGain: 0.01,
			color:{'hue':0,'saturation':50,'luminance':50},
			updateColor: defaultUpdateColor,
			maxDirectionalDeviation: 5,
			forkRatio: 0.05,
			maxHueDeviation: 0.3,
			ryzomBaseWidth: 5
		}
		const ryzom = Object.assign(defaultState,state);
		console.log(clone(ryzom));
		return ryzom;
	}
	function rangeRand(min,max,gamma){
		const rand = Math.pow(Math.random()*2,gamma);
		const randMax = Math.pow(2,gamma);
		const randRange = max-min;
		return min + rand*randRange/randMax;
	}
	function initTree(ryzoms, startX,startY){
		const tige = Object.assign({
			x:startX,
			y:startY,
			direction:180,
			updateVitality: killUnder,
		},config.Tree);
		const racines = Object.assign({
			x:startX,
			y:startY+1,
			direction:0,
			updateVitality: killHover,
		},config.Roots);

		ryzoms.push(newRyzom(tige));
		ryzoms.push(newRyzom(racines));
	}
	let ryzoms = [];
	function start() {
		updateConfigFromHtmlForm(config);
		saveConfigToUrl(config);
		Math.seedrandom(config.seed);
		const canvas = document.getElementById('can');
		canvas.width = config.width;
		canvas.height = config.height;
		const context = canvas.getContext("2d");
		ryzoms = [];

		context.clearRect(0, 0, canvas.width, canvas.height);
		context.fillStyle = drawColor(config.floorColor);
		context.fillRect(0, config.floorLevel, context.canvas.width, context.canvas.height);
		context.fillStyle = "none";

		initTree(ryzoms,context.canvas.width/2, config.floorLevel);
		//initTree(ryzoms,context.canvas.width/2+220, context.canvas.height/2 + 150 ,randomUpColor(),randomDownColor(),0.5);
		//initTree(ryzoms,context.canvas.width/2-250, context.canvas.height/2 + 120 ,randomUpColor(),randomDownColor(),0.3);

		const limits = {
			lastFrameTime: Date.now(),
			drawArea: context.canvas
		}
		Object.assign(limits,config.limits);

		function mainLoop(){
			sustainMinFPS(ryzoms,limits);
			removeRyzomsOverflow(ryzoms,limits);

			evolveRyzoms(ryzoms);

			removeOutboundsRyzoms(ryzoms,limits)
			render(ryzoms, context);

			if(ryzoms.length>0) setTimeout(mainLoop,1000/limits.maxFPS);
		}
		mainLoop();
	}
	document.getElementById("config").addEventListener("keyup",start);
	const config = {};
	loadConfigFromUrl(config);
	htmlConfig(config);
	start();
	function htmlConfig(config){
		const form = document.getElementById("config");
		let content = `<a id="switch"><span class="hide">▼</span><span class="show">▲</span> Config</a><fieldset>`;
		for (let key in config){
			const value = config[key];
			if(typeof value === 'object'){
				content+=`<fieldset><legend>${key}</legend>`;
				for (let subKey in config[key]) {
					const subValue = config[key][subKey];
					if(typeof subValue === 'object'){
						content+=`<fieldset><legend>${subKey}</legend>`;
						for (let subSubKey in config[key][subKey]) content+=htmlInput(`${key}_${subKey}_${subSubKey}`,config[key][subKey][subSubKey],subSubKey);
						content+='</fieldset>';
					} else content+=htmlInput(`${key}_${subKey}`,config[key][subKey],subKey);
				}
				content+='</fieldset>';
			} else content+=htmlInput(key,value,key);
		}
		content+=`</fieldset>`;
		form.innerHTML = content;
		document.getElementById('switch').addEventListener('click',()=>{
			if(form.classList.contains('big')) form.classList.replace('big','small');
			else form.classList.replace('small','big');
		});
	}
	function htmlInput(key,value, visualKey){
		return `<div class="line"><input name="${key}" value="${value}"/> <label>${visualKey}</label></div>`;
	}
	function updateConfigFromHtmlForm(config){
		const form = document.getElementById("config");
		for (let key in config){
			let value = config[key];
			if(typeof value === "object"){
				for (let subKey in config[key]){
					let subValue = config[key][subKey];
					if(typeof subValue === "object"){
						for (let subSubKey in config[key][subKey]){
							config[key][subKey][subSubKey] = parseFloat(form[`${key}_${subKey}_${subSubKey}`].value);
						}
					} else config[key][subKey] = parseFloat(form[`${key}_${subKey}`].value);
				}
			} else if(key === 'seed') config[key] = form[key].value;
			else config[key] = parseFloat(form[key].value);
		}
	}
	function loadConfigFromUrl(config){
		Object.assign(config,defaultConfig());
		if(location.hash) Object.assign(config,JSON.parse(decodeURIComponent(location.hash).substr(1)));
	}
	function saveConfigToUrl(config){
		history.replaceState(config, document.title, '#' + JSON.stringify(config));
	}
</script>
<a href="https://framagit.org/1000i100/face-identicon" id="sourceRibbon" title="Fork me !">
    <span>CC-0</span>
    <span>Logiciel Libre</span>
    <span>Remonter aux sources</span>
    <style>
        #sourceRibbon {position: fixed; top: 15px; right: -110px; z-index: 500; transform: rotate(45deg); text-align: center;width: 300px; box-shadow: 0 0 5px #000; text-decoration: none;}
        #sourceRibbon span {background-color: #0A0; color: white; font-family: sans-serif; display: block; padding: 1px 30px; font-size: 9pt; margin: -1px; text-shadow: 0 0 3px rgba(0,0,0,.5);}
        #sourceRibbon span + span {background-color:  #06A; font-size: 11pt;}
        #sourceRibbon span + span + span {background-color: #E80; font-size: 10pt;}
    </style>
</a>
